<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    {% block title %} {% endblock%}
    </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- nav bar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
    <a href="{{ url_for('index') }}" class="navbar-brand mr-3">PetsRUs</a>
        {% block navbar_content %} {% endblock %}
    </div>
</nav>

{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% block content%} {% endblock %}
</body>
</html>
