<!doctype html>
<title>PetsRUs</title>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
    Hi {{ current_user.username }}!
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="{{ url_for('pets') }}">Add Pet</a>
    {% if pets %}
    <ul>
        {% for pet in pets %}
        <li> Name: {{pet.name}} Breed: {{pet.breed}} Species: {{pet.species}} </li>
        {% endfor %}
    </ul>
    {% else %}
        No pets found.
    {% endif %}

{% else %}
    {% from "_formhelpers.html" import render_field %}
    <h1>Login</h1>
    <form method=post action="{{ url_for('index') }}">
        {{ form.csrf_token }}
        {{ render_field(form.username, required=False) }}
        {{ render_field(form.password, required=False) }}
      <input type=submit value=Login>
    </form>
    <a href="{{ url_for('register') }}">No Account? Register</a>
{% endif %}
