<!doctype html>
<title>PetsRUs</title>
{% if current_user.is_authenticated %}
<p> Already logged in. </p>
    <a href="{{ url_for('index') }}">Home</a>
{% else %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
{% from "_formhelpers.html" import render_field %}
<h1>Login</h1>
<form method=post action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    {{ render_field(form.username, required=False) }}
    {{ render_field(form.password, required=False) }}
  <input type=submit value=Login>
</form>
<a href="{{ url_for('register') }}">No Account? Register</a>
{% endif %}
