{% extends "navbar.html" %}

{% block title %}
    PetsRUs - Add Pet Schedule
{% endblock %}

{% block content %}
    <div class="container p-3 my-3 w-75 border rounded bg-light">
    <h1 class="text-center">Add Pet Schedule</h1>
    <form action="{{ url_for('add_schedule', pet_id=pet_id) }}" method=post class="form-horizontal">
        {{ form.csrf_token }}
        
    <div class="form-group row">
        <div class="col-sm-3">
      {{ form.date_of_next.label(class="col-form-label")}}
          </div>
        <div class="col-sm-8">
          {{ form.date_of_next(class="form-control", required=False) | safe}}
              {% if form.date_of_next.errors %}
                  {% for error in form.date_of_next.errors %}
                    <div class="text-danger small">{{ error }}</div>
                  {% endfor %}
              {% endif %}
          </div>
      </div>
    <div class="form-group row">
        <div class="col-sm-3">
      {{ form.repeats.label(class="col-form-control")}}
      </div>
        <div class="col-sm-8">
        {% for subfield in form.repeats %}
        {{ subfield }}
        {{ subfield.label }}
        &nbsp;
        {% endfor %}
              {% if form.repeats.errors %}
                  {% for error in form.repeats.errors %}
                    <div class="text-danger small">{{ error }}</div>
                  {% endfor %}
              {% endif %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
      {{ form.repeat_cycle.label(class="col-form-control")}}
        </div>
        <div class="col-sm-8">
        {% for subfield in form.repeat_cycle %}
        {{ subfield(required=False) }}
        {{ subfield.label }}
        &nbsp;
        {% endfor %}
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3">
      {{ form.schedule_type.label(class="col-form-label")}}
      </div>
        <div class="col-sm-8">
          {{ form.schedule_type(class="form-control", required=False) | safe}}
              {% if form.schedule_type.errors %}
                  {% for error in form.schedule_type.errors %}
                    <div class="text-danger small">{{ error }}</div>
                  {% endfor %}
              {% endif %}
          </div>
      </div>
      <div class="text-center">
          <a href="{{ url_for('view_pet', pet_id=pet_id) }}"
             class="btn btn-secondary w-25"
             role="button">Cancel</a>
          <button type="submit" class="btn btn-primary w-25">Save</button>
      </div>
    </form>
    </div>

<script type="text/javascript">
// "Yes" Radio button
document.getElementById('repeats-0').onchange = displayTextBox;
// "No" Radio button
document.getElementById('repeats-1').onchange = displayTextBox;

var monthlyRadioButton = document.getElementById('repeat_cycle-0');
var quarterlyRadioButton = document.getElementById('repeat_cycle-1');
var yearlyRadioButton = document.getElementById('repeat_cycle-2');
monthlyRadioButton.disabled = true;
quarterlyRadioButton.disabled = true;
yearlyRadioButton.disabled = true;

function displayTextBox(evt) {
    if(evt.target.value == "YES") {
        monthlyRadioButton.disabled = false;
        quarterlyRadioButton.disabled = false;
        yearlyRadioButton.disabled = false;
        yearlyRadioButton.checked = true;
    } else {
        monthlyRadioButton.disabled = true;
        quarterlyRadioButton.disabled = true;
        yearlyRadioButton.disabled = true;
        yearlyRadioButton.checked = false;
    }
}

</script>
{% endblock %}

